table {
    background-color: #b2cce6
}

table.table .thead-light th {
    background-color: #859cb3
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgb(165, 201, 237);
    background-color: rgba(255, 255, 255, 0.15);
}
